/* App.css */
.swiper-button-next,
.swiper-button-prev {
  color: #9ca3af; /* Change the color */
  background-color: transparent; /* Add background */
  padding: 10px; /* Add padding */
  border-radius: 50%; /* Make them round */
  width: 50px; /* Adjust size */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #030712; /* Darker background on hover */
}

/* Change the default color of pagination dots */
.swiper-pagination-bullet {
    background-color: #ccc; /* Default color for inactive dots */
    width: 10px; /* Optional: Adjust the size */
    height: 10px;
    opacity: 1;
  }
  
  /* Change the color of the active dot */
  .swiper-pagination-bullet-active {
    background-color: #030712; /* Active dot color */
    transform: scale(1.2); /* Optional: Make the active dot larger */
  }

  @media (min-width: 300px) {
    .swiper-button-next, .swiper-button-prev {
      font-size: 10px; /* Adjust size */
      width: 10px; /* Change width */
      height: 10px; /* Change height */
    }

    .swiper-pagination-bullet{
      width:6px;
      height: 6px;
    }
  }
